In [2]:
import pandas as pd
import numpy as np

In [3]:
# Definindo os dataframes
falhas = pd.read_csv('tabelas finais/PREDICTS_FINAIS.csv')
resultados = pd.read_csv('tabelas finais/RESULTADOS_FINALMENTE.csv')

In [4]:
# Visualização do dataframe de falhas final
falhas

               KNR  FALHA
0     2023-0436112      1
1     2023-0436064      1
2     2023-0436473      1
3     2023-0436117      1
4     2023-0436069      1
...            ...    ...
7911  2024-3256276      1
7912  2024-3256284      1
7913  2024-3316245      1
7914  2024-2036106      1
7915  2024-2056103      1

[7916 rows x 2 columns]

In [5]:
# Preenchendo os valores nulos com 0 no dataframe de resultados
resultado_df = resultados.fillna(0)
resultado_df

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA
0,2023-2016173,0.0,0.0,0.0,0.0,12.0,12.0,0.0,0.000231,11.0,10.0,1.0,0.213692
1,2023-2026098,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000012,15.0,13.0,2.0,0.133866
2,2023-2026162,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000058,11.0,11.0,0.0,0.046956
3,2023-2026175,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000069,19.0,14.0,5.0,0.751412
4,2023-2026215,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000058,19.0,15.0,4.0,3.212350
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79396,2024-2976009,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.045683,0.0,0.0,0.0,0.000000
79397,2024-2976010,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.059190,0.0,0.0,0.0,0.000000
79398,2024-2976011,0.0,0.0,0.0,0.0,74.0,74.0,0.0,0.089086,0.0,0.0,0.0,0.000000
79399,2024-2976012,0.0,0.0,0.0,0.0,82.0,82.0,0.0,4.293958,0.0,0.0,0.0,0.000000
79400,2024-2976013,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.054491,0.0,0.0,0.0,0.000000

In [6]:
# Adicionando a coluna de falhas ao dataframe de resultados
resultado_df['FALHA'] = 0
resultado_df['FALHA'] = resultado_df['FALHA'].astype(int)
resultado_df

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA,FALHA
0,2023-2016173,0.0,0.0,0.0,0.0,12.0,12.0,0.0,0.000231,11.0,10.0,1.0,0.213692,0
1,2023-2026098,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000012,15.0,13.0,2.0,0.133866,0
2,2023-2026162,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000058,11.0,11.0,0.0,0.046956,0
3,2023-2026175,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000069,19.0,14.0,5.0,0.751412,0
4,2023-2026215,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000058,19.0,15.0,4.0,3.212350,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79396,2024-2976009,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.045683,0.0,0.0,0.0,0.000000,0
79397,2024-2976010,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.059190,0.0,0.0,0.0,0.000000,0
79398,2024-2976011,0.0,0.0,0.0,0.0,74.0,74.0,0.0,0.089086,0.0,0.0,0.0,0.000000,0
79399,2024-2976012,0.0,0.0,0.0,0.0,82.0,82.0,0.0,4.293958,0.0,0.0,0.0,0.000000,0
79400,2024-2976013,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.054491,0.0,0.0,0.0,0.000000,0

In [7]:
# Juntando a coluna de falhas do dataframe de falhas ao dataframe de resultados
resultado_df.loc[resultado_df['KNR'].isin(falhas['KNR']), 'FALHA'] = 1
resultado_df

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA,FALHA
0,2023-2016173,0.0,0.0,0.0,0.0,12.0,12.0,0.0,0.000231,11.0,10.0,1.0,0.213692,0
1,2023-2026098,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000012,15.0,13.0,2.0,0.133866,1
2,2023-2026162,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000058,11.0,11.0,0.0,0.046956,0
3,2023-2026175,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000069,19.0,14.0,5.0,0.751412,0
4,2023-2026215,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000058,19.0,15.0,4.0,3.212350,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79396,2024-2976009,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.045683,0.0,0.0,0.0,0.000000,0
79397,2024-2976010,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.059190,0.0,0.0,0.0,0.000000,0
79398,2024-2976011,0.0,0.0,0.0,0.0,74.0,74.0,0.0,0.089086,0.0,0.0,0.0,0.000000,0
79399,2024-2976012,0.0,0.0,0.0,0.0,82.0,82.0,0.0,4.293958,0.0,0.0,0.0,0.000000,0
79400,2024-2976013,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.054491,0.0,0.0,0.0,0.000000,0

In [8]:
# Verificando a quantidade de falhas e não falhas
resultado_df['FALHA'].value_counts()

FALHA
0    74372
1     5029
Name: count, dtype: int64

In [9]:
# Normalizando os dados 
colunas_numericas = resultado_df.columns.difference(['KNR', 'FALHA'])

resultado_normalizado = resultado_df.copy()

resultado_normalizado[colunas_numericas] = (resultado_df[colunas_numericas] - resultado_df[colunas_numericas].min()) / (resultado_df[colunas_numericas].max() - resultado_df[colunas_numericas].min())

resultado_normalizado = resultado_normalizado.fillna(0)
resultado_normalizado

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA,FALHA
0,2023-2016173,0.0,0.0,0.0,0.0,0.005215,0.005517,0.0,1.389356e-06,0.009205,0.026882,0.00099,0.002666,0
1,2023-2026098,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,6.946779e-08,0.012552,0.034946,0.00198,0.001670,1
2,2023-2026162,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,3.473390e-07,0.009205,0.029570,0.00000,0.000586,0
3,2023-2026175,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,4.168068e-07,0.015900,0.037634,0.00495,0.009376,0
4,2023-2026215,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,3.473390e-07,0.015900,0.040323,0.00396,0.040083,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79396,2024-2976009,0.0,0.0,0.0,0.0,0.031291,0.033103,0.0,2.741894e-04,0.000000,0.000000,0.00000,0.000000,0
79397,2024-2976010,0.0,0.0,0.0,0.0,0.031291,0.033103,0.0,3.552583e-04,0.000000,0.000000,0.00000,0.000000,0
79398,2024-2976011,0.0,0.0,0.0,0.0,0.032160,0.034023,0.0,5.346936e-04,0.000000,0.000000,0.00000,0.000000,0
79399,2024-2976012,0.0,0.0,0.0,0.0,0.035637,0.037701,0.0,2.577241e-02,0.000000,0.000000,0.00000,0.000000,0
79400,2024-2976013,0.0,0.0,0.0,0.0,0.031291,0.033103,0.0,3.270544e-04,0.000000,0.000000,0.00000,0.000000,0

In [10]:
# Preenchendo os valores nulos com 0 no dataframe final pela última vez
resultado_normalizado.fillna(0)

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA,FALHA
0,2023-2016173,0.0,0.0,0.0,0.0,0.005215,0.005517,0.0,1.389356e-06,0.009205,0.026882,0.00099,0.002666,0
1,2023-2026098,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,6.946779e-08,0.012552,0.034946,0.00198,0.001670,1
2,2023-2026162,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,3.473390e-07,0.009205,0.029570,0.00000,0.000586,0
3,2023-2026175,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,4.168068e-07,0.015900,0.037634,0.00495,0.009376,0
4,2023-2026215,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,3.473390e-07,0.015900,0.040323,0.00396,0.040083,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79396,2024-2976009,0.0,0.0,0.0,0.0,0.031291,0.033103,0.0,2.741894e-04,0.000000,0.000000,0.00000,0.000000,0
79397,2024-2976010,0.0,0.0,0.0,0.0,0.031291,0.033103,0.0,3.552583e-04,0.000000,0.000000,0.00000,0.000000,0
79398,2024-2976011,0.0,0.0,0.0,0.0,0.032160,0.034023,0.0,5.346936e-04,0.000000,0.000000,0.00000,0.000000,0
79399,2024-2976012,0.0,0.0,0.0,0.0,0.035637,0.037701,0.0,2.577241e-02,0.000000,0.000000,0.00000,0.000000,0
79400,2024-2976013,0.0,0.0,0.0,0.0,0.031291,0.033103,0.0,3.270544e-04,0.000000,0.000000,0.00000,0.000000,0

In [11]:
# Visualizando os dados da coluna "FALHA" do dataframe final
resultado_normalizado['FALHA'].unique()

array([0, 1])

In [12]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\guilherme\appdata\local\programs\python\python312\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\guilherme\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\guilherme\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\guilherme\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\guilherme\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)

## Modelo SVM

In [19]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

# Supondo que 'resultado_normalizado' já está normalizado e disponível
# Preparação dos dados
X = resultado_normalizado.drop(columns=['KNR', 'FALHA'])  # Features: todas as colunas exceto 'KNR' e 'FALHA'
y = resultado_normalizado['FALHA']  # Target: coluna 'FALHA'

# Divisão em conjunto de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Treinamento do modelo SVM
svm_model = SVC(kernel='rbf')  # Usando kernel RBF como exemplo
svm_model.fit(X_train, y_train)

# Predição no conjunto de teste
y_pred = svm_model.predict(X_test)

# Avaliação do modelo
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

cv_scores = cross_val_score(svm_model, X, y, cv=5)

print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(report)
print(f"Cross-validation scores: {cv_scores}")
print(f"Mean CV score: {cv_scores.mean()}")

c:\Users\Guilherme\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Guilherme\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Guilherme\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

Accuracy: 0.935351160740523
Classification Report:
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     22281
           1       0.00      0.00      0.00      1540

    accuracy                           0.94     23821
   macro avg       0.47      0.50      0.48     23821
weighted avg       0.87      0.94      0.90     23821

Cross-validation scores: [0.93665386 0.93671285 0.93664987 0.93664987 0.93664987]
Mean CV score: 0.9366632663241422

## Modelo Gradient Boosting

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, classification_report

# Supondo que 'resultado_normalizado' já está normalizado e disponível
# Preparação dos dados
X = resultado_normalizado.drop(columns=['KNR', 'FALHA'])  # Features: todas as colunas exceto 'KNR' e 'FALHA'
y = resultado_normalizado['FALHA']  # Target: coluna 'FALHA'

# Divisão em conjunto de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Criação e treinamento do modelo Gradient Boosting
gb_model = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
gb_model.fit(X_train, y_train)

# Predição no conjunto de teste
y_pred = gb_model.predict(X_test)

# Avaliação do modelo
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(report)

Accuracy: 0.9352252214432644
Classification Report:
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     22281
           1       0.33      0.00      0.00      1540

    accuracy                           0.94     23821
   macro avg       0.63      0.50      0.49     23821
weighted avg       0.90      0.94      0.90     23821

## Modelo Random Forest

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler

# Selecionar features e target
X = resultado_normalizado.drop(columns=['KNR', 'FALHA'])
y = resultado_normalizado['FALHA']

# Normalizar os dados
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Dividir em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Treinar o modelo de Random Forest
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Fazer previsões e avaliar o modelo
y_pred = model.predict(X_test)

# Avaliar a acurácia
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')

# Matriz de confusão e relatório de classificação
print('Confusion Matrix:')
print(confusion_matrix(y_test, y_pred))

print('Classification Report:')
print(classification_report(y_test, y_pred))

Accuracy: 93.36%
Confusion Matrix:
[[14817    37]
 [ 1018     9]]
Classification Report:
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     14854
           1       0.20      0.01      0.02      1027

    accuracy                           0.93     15881
   macro avg       0.57      0.50      0.49     15881
weighted avg       0.89      0.93      0.90     15881

## Modelo Rede Neural Recorrente

In [21]:
import torch
import torch.nn as nn
import torch.optim as optim
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Selecionar features e target
X = resultado_normalizado.drop(columns=['KNR', 'FALHA'])
y = resultado_normalizado['FALHA']

# Normalizar os dados
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Dividir em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Converter para tensores
X_train = torch.tensor(X_train, dtype=torch.float32)
X_test = torch.tensor(X_test, dtype=torch.float32)
y_train = torch.tensor(y_train.values, dtype=torch.float32)
y_test = torch.tensor(y_test.values, dtype=torch.float32)

# Reshape necessário para o formato (batch_size, seq_len, num_features)
X_train = X_train.unsqueeze(1)
X_test = X_test.unsqueeze(1)

# Definir a RNN
class SimpleRNN(nn.Module):
    def __init__(self, input_size, hidden_size, output_size):
        super(SimpleRNN, self).__init__()
        self.rnn = nn.RNN(input_size, hidden_size, batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)
    
    def forward(self, x):
        out, _ = self.rnn(x)
        out = self.fc(out[:, -1, :])
        return out

# Parâmetros do modelo
input_size = X_train.shape[2]
hidden_size = 64
output_size = 1  # Saída única, porque 'FALHA' é uma variável de saída binária

# Instanciar o modelo
model = SimpleRNN(input_size, hidden_size, output_size)

# Definir a função de perda e o otimizador
criterion = nn.BCEWithLogitsLoss()  # Função de perda para classificação binária
optimizer = optim.Adam(model.parameters(), lr=0.001)

# Treinar o modelo
num_epochs = 200
for epoch in range(num_epochs):
    model.train()
    optimizer.zero_grad()
    
    outputs = model(X_train)
    loss = criterion(outputs.squeeze(), y_train)
    
    loss.backward()
    optimizer.step()
    
    print(f'Epoch {epoch+1}/{num_epochs}, Loss: {loss.item()}')

# Avaliar o modelo
model.eval()
with torch.no_grad():
    outputs = model(X_test)
    predicted = (torch.sigmoid(outputs.squeeze()) > 0.5).float()
    accuracy = (predicted == y_test).float().mean()
    print(f'Accuracy: {accuracy.item() * 100:.2f}%')

Epoch 1/200, Loss: 0.7273417711257935
Epoch 2/200, Loss: 0.7204025387763977
Epoch 3/200, Loss: 0.7136303186416626
Epoch 4/200, Loss: 0.7070102095603943
Epoch 5/200, Loss: 0.7005256414413452
Epoch 6/200, Loss: 0.6941564679145813
Epoch 7/200, Loss: 0.6878816485404968
Epoch 8/200, Loss: 0.6816823482513428
Epoch 9/200, Loss: 0.6755438446998596
Epoch 10/200, Loss: 0.6694552302360535
Epoch 11/200, Loss: 0.6634093523025513
Epoch 12/200, Loss: 0.6574010848999023
Epoch 13/200, Loss: 0.6514273285865784
Epoch 14/200, Loss: 0.6454863548278809
Epoch 15/200, Loss: 0.6395769715309143
Epoch 16/200, Loss: 0.6336987018585205
Epoch 17/200, Loss: 0.6278512477874756
Epoch 18/200, Loss: 0.6220336556434631
Epoch 19/200, Loss: 0.6162451505661011
Epoch 20/200, Loss: 0.6104840040206909
Epoch 21/200, Loss: 0.6047483682632446
Epoch 22/200, Loss: 0.5990362167358398
Epoch 23/200, Loss: 0.5933449864387512
Epoch 24/200, Loss: 0.5876722931861877
Epoch 25/200, Loss: 0.5820157527923584
Epoch 26/200, Loss: 0.5763735771179199
Epoch 27/200, Loss: 0.5707440972328186
Epoch 28/200, Loss: 0.5651262402534485
Epoch 29/200, Loss: 0.5595200061798096
Epoch 30/200, Loss: 0.553925096988678
Epoch 31/200, Loss: 0.5483419895172119
Epoch 32/200, Loss: 0.5427714586257935
Epoch 33/200, Loss: 0.5372142791748047
Epoch 34/200, Loss: 0.5316711068153381
Epoch 35/200, Loss: 0.5261427760124207
Epoch 36/200, Loss: 0.5206297039985657
Epoch 37/200, Loss: 0.515132486820221
Epoch 38/200, Loss: 0.5096515417098999
Epoch 39/200, Loss: 0.5041875839233398
Epoch 40/200, Loss: 0.4987415373325348
Epoch 41/200, Loss: 0.49331456422805786
Epoch 42/200, Loss: 0.48790818452835083
Epoch 43/200, Loss: 0.4825240671634674
Epoch 44/200, Loss: 0.47716429829597473
Epoch 45/200, Loss: 0.471830815076828
Epoch 46/200, Loss: 0.466525673866272
Epoch 47/200, Loss: 0.4612508714199066
Epoch 48/200, Loss: 0.45600852370262146
Epoch 49/200, Loss: 0.4508005678653717
Epoch 50/200, Loss: 0.4456292688846588
Epoch 51/200, Loss: 0.4404967725276947
Epoch 52/200, Loss: 0.43540552258491516
Epoch 53/200, Loss: 0.43035805225372314
Epoch 54/200, Loss: 0.4253568649291992
Epoch 55/200, Loss: 0.4204045534133911
Epoch 56/200, Loss: 0.41550353169441223
Epoch 57/200, Loss: 0.4106561243534088
Epoch 58/200, Loss: 0.40586453676223755
Epoch 59/200, Loss: 0.40113088488578796
Epoch 60/200, Loss: 0.396457314491272
Epoch 61/200, Loss: 0.39184585213661194
Epoch 62/200, Loss: 0.3872985243797302
Epoch 63/200, Loss: 0.3828173875808716
Epoch 64/200, Loss: 0.3784042000770569
Epoch 65/200, Loss: 0.37406066060066223
Epoch 66/200, Loss: 0.3697884976863861
Epoch 67/200, Loss: 0.3655889928340912
Epoch 68/200, Loss: 0.3614635467529297
Epoch 69/200, Loss: 0.3574134111404419
Epoch 70/200, Loss: 0.3534398078918457
Epoch 71/200, Loss: 0.34954386949539185
Epoch 72/200, Loss: 0.34572649002075195
Epoch 73/200, Loss: 0.34198859333992004
Epoch 74/200, Loss: 0.33833083510398865
Epoch 75/200, Loss: 0.3347538113594055
Epoch 76/200, Loss: 0.33125796914100647
Epoch 77/200, Loss: 0.32784363627433777
Epoch 78/200, Loss: 0.32451102137565613
Epoch 79/200, Loss: 0.3212602734565735
Epoch 80/200, Loss: 0.31809142231941223
Epoch 81/200, Loss: 0.3150043785572052
Epoch 82/200, Loss: 0.31199881434440613
Epoch 83/200, Loss: 0.30907440185546875
Epoch 84/200, Loss: 0.30623072385787964
Epoch 85/200, Loss: 0.30346718430519104
Epoch 86/200, Loss: 0.3007832169532776
Epoch 87/200, Loss: 0.2981779873371124
Epoch 88/200, Loss: 0.2956507205963135
Epoch 89/200, Loss: 0.2932004928588867
Epoch 90/200, Loss: 0.29082629084587097
Epoch 91/200, Loss: 0.2885270416736603
Epoch 92/200, Loss: 0.28630155324935913
Epoch 93/200, Loss: 0.2841487526893616
Epoch 94/200, Loss: 0.2820672392845154
Epoch 95/200, Loss: 0.2800557315349579
Epoch 96/200, Loss: 0.2781129479408264
Epoch 97/200, Loss: 0.2762373983860016
Epoch 98/200, Loss: 0.2744276821613312
Epoch 99/200, Loss: 0.2726822793483734
Epoch 100/200, Loss: 0.2709997594356537
Epoch 101/200, Loss: 0.26937854290008545
Epoch 102/200, Loss: 0.2678171694278717
Epoch 103/200, Loss: 0.2663140594959259
Epoch 104/200, Loss: 0.2648676037788391
Epoch 105/200, Loss: 0.26347631216049194
Epoch 106/200, Loss: 0.26213863492012024
Epoch 107/200, Loss: 0.2608529329299927
Epoch 108/200, Loss: 0.25961771607398987
Epoch 109/200, Loss: 0.2584315240383148
Epoch 110/200, Loss: 0.25729265809059143
Epoch 111/200, Loss: 0.2561997175216675
Epoch 112/200, Loss: 0.2551512122154236
Epoch 113/200, Loss: 0.25414562225341797
Epoch 114/200, Loss: 0.253181517124176
Epoch 115/200, Loss: 0.25225746631622314
Epoch 116/200, Loss: 0.2513720989227295
Epoch 117/200, Loss: 0.2505239248275757
Epoch 118/200, Loss: 0.2497117519378662
Epoch 119/200, Loss: 0.24893417954444885
Epoch 120/200, Loss: 0.24818989634513855
Epoch 121/200, Loss: 0.247477725148201
Epoch 122/200, Loss: 0.2467964142560959
Epoch 123/200, Loss: 0.24614475667476654
Epoch 124/200, Loss: 0.24552159011363983
Epoch 125/200, Loss: 0.2449258416891098
Epoch 126/200, Loss: 0.24435637891292572
Epoch 127/200, Loss: 0.2438121736049652
Epoch 128/200, Loss: 0.2432921975851059
Epoch 129/200, Loss: 0.2427954524755478
Epoch 130/200, Loss: 0.2423209697008133
Epoch 131/200, Loss: 0.2418678104877472
Epoch 132/200, Loss: 0.24143512547016144
Epoch 133/200, Loss: 0.2410220354795456
Epoch 134/200, Loss: 0.2406277060508728
Epoch 135/200, Loss: 0.2402513325214386
Epoch 136/200, Loss: 0.2398921251296997
Epoch 137/200, Loss: 0.2395494282245636
Epoch 138/200, Loss: 0.2392224222421646
Epoch 139/200, Loss: 0.2389104813337326
Epoch 140/200, Loss: 0.23861296474933624
Epoch 141/200, Loss: 0.238329216837883
Epoch 142/200, Loss: 0.23805859684944153
Epoch 143/200, Loss: 0.23780056834220886
Epoch 144/200, Loss: 0.23755453526973724
Epoch 145/200, Loss: 0.2373199164867401
Epoch 146/200, Loss: 0.23709627985954285
Epoch 147/200, Loss: 0.2368829995393753
Epoch 148/200, Loss: 0.23667971789836884
Epoch 149/200, Loss: 0.23648589849472046
Epoch 150/200, Loss: 0.23630112409591675
Epoch 151/200, Loss: 0.23612500727176666
Epoch 152/200, Loss: 0.2359570860862732
Epoch 153/200, Loss: 0.23579701781272888
Epoch 154/200, Loss: 0.2356444150209427
Epoch 155/200, Loss: 0.23549890518188477
Epoch 156/200, Loss: 0.23536020517349243
Epoch 157/200, Loss: 0.23522795736789703
Epoch 158/200, Loss: 0.2351018190383911
Epoch 159/200, Loss: 0.23498156666755676
Epoch 160/200, Loss: 0.23486687242984772
Epoch 161/200, Loss: 0.23475749790668488
Epoch 162/200, Loss: 0.23465314507484436
Epoch 163/200, Loss: 0.23455359041690826
Epoch 164/200, Loss: 0.23445861041545868
Epoch 165/200, Loss: 0.2343679666519165
Epoch 166/200, Loss: 0.2342814803123474
Epoch 167/200, Loss: 0.23419886827468872
Epoch 168/200, Loss: 0.23412004113197327
Epoch 169/200, Loss: 0.23404470086097717
Epoch 170/200, Loss: 0.23397278785705566
Epoch 171/200, Loss: 0.23390404880046844
Epoch 172/200, Loss: 0.23383831977844238
Epoch 173/200, Loss: 0.23377549648284912
Epoch 174/200, Loss: 0.23371540009975433
Epoch 175/200, Loss: 0.23365792632102966
Epoch 176/200, Loss: 0.2336028814315796
Epoch 177/200, Loss: 0.23355014622211456
Epoch 178/200, Loss: 0.2334996610879898
Epoch 179/200, Loss: 0.2334512323141098
Epoch 180/200, Loss: 0.23340481519699097
Epoch 181/200, Loss: 0.23336024582386017
Epoch 182/200, Loss: 0.23331747949123383
Epoch 183/200, Loss: 0.2332763969898224
Epoch 184/200, Loss: 0.23323693871498108
Epoch 185/200, Loss: 0.23319900035858154
Epoch 186/200, Loss: 0.2331625372171402
Epoch 187/200, Loss: 0.23312745988368988
Epoch 188/200, Loss: 0.233093723654747
Epoch 189/200, Loss: 0.23306122422218323
Epoch 190/200, Loss: 0.23302990198135376
Epoch 191/200, Loss: 0.23299968242645264
Epoch 192/200, Loss: 0.23297053575515747
Epoch 193/200, Loss: 0.2329423874616623
Epoch 194/200, Loss: 0.23291511833667755
Epoch 195/200, Loss: 0.23288878798484802
Epoch 196/200, Loss: 0.23286326229572296
Epoch 197/200, Loss: 0.23283854126930237
Epoch 198/200, Loss: 0.23281459510326385
Epoch 199/200, Loss: 0.23279134929180145
Epoch 200/200, Loss: 0.23276877403259277
Accuracy: 93.53%