In [3]:
import pandas as pd
import numpy as np

In [4]:
# Definindo os dataframes
falhas = pd.read_csv('tabelas finais/PREDICTS_FINAIS.csv')
resultados = pd.read_csv('tabelas finais/RESULTADOS_FINALMENTE.csv')

In [5]:
# Visualização do dataframe de falhas final
falhas

               KNR  FALHA
0     2023-0436112      1
1     2023-0436064      1
2     2023-0436473      1
3     2023-0436117      1
4     2023-0436069      1
...            ...    ...
7911  2024-3256276      1
7912  2024-3256284      1
7913  2024-3316245      1
7914  2024-2036106      1
7915  2024-2056103      1

[7916 rows x 2 columns]

In [6]:
# Preenchendo os valores nulos com 0 no dataframe de resultados
resultado_df = resultados.fillna(0)
resultado_df

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA
0,2023-2016173,0.0,0.0,0.0,0.0,12.0,12.0,0.0,0.000231,11.0,10.0,1.0,0.213692
1,2023-2026098,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000012,15.0,13.0,2.0,0.133866
2,2023-2026162,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000058,11.0,11.0,0.0,0.046956
3,2023-2026175,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000069,19.0,14.0,5.0,0.751412
4,2023-2026215,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000058,19.0,15.0,4.0,3.212350
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79396,2024-2976009,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.045683,0.0,0.0,0.0,0.000000
79397,2024-2976010,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.059190,0.0,0.0,0.0,0.000000
79398,2024-2976011,0.0,0.0,0.0,0.0,74.0,74.0,0.0,0.089086,0.0,0.0,0.0,0.000000
79399,2024-2976012,0.0,0.0,0.0,0.0,82.0,82.0,0.0,4.293958,0.0,0.0,0.0,0.000000
79400,2024-2976013,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.054491,0.0,0.0,0.0,0.000000

In [7]:
# Adicionando a coluna de falhas ao dataframe de resultados
resultado_df['FALHA'] = 0
resultado_df['FALHA'] = resultado_df['FALHA'].astype(int)
resultado_df

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA,FALHA
0,2023-2016173,0.0,0.0,0.0,0.0,12.0,12.0,0.0,0.000231,11.0,10.0,1.0,0.213692,0
1,2023-2026098,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000012,15.0,13.0,2.0,0.133866,0
2,2023-2026162,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000058,11.0,11.0,0.0,0.046956,0
3,2023-2026175,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000069,19.0,14.0,5.0,0.751412,0
4,2023-2026215,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000058,19.0,15.0,4.0,3.212350,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79396,2024-2976009,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.045683,0.0,0.0,0.0,0.000000,0
79397,2024-2976010,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.059190,0.0,0.0,0.0,0.000000,0
79398,2024-2976011,0.0,0.0,0.0,0.0,74.0,74.0,0.0,0.089086,0.0,0.0,0.0,0.000000,0
79399,2024-2976012,0.0,0.0,0.0,0.0,82.0,82.0,0.0,4.293958,0.0,0.0,0.0,0.000000,0
79400,2024-2976013,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.054491,0.0,0.0,0.0,0.000000,0

In [8]:
# Juntando a coluna de falhas do dataframe de falhas ao dataframe de resultados
resultado_df.loc[resultado_df['KNR'].isin(falhas['KNR']), 'FALHA'] = 1
resultado_df

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA,FALHA
0,2023-2016173,0.0,0.0,0.0,0.0,12.0,12.0,0.0,0.000231,11.0,10.0,1.0,0.213692,0
1,2023-2026098,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000012,15.0,13.0,2.0,0.133866,1
2,2023-2026162,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000058,11.0,11.0,0.0,0.046956,0
3,2023-2026175,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000069,19.0,14.0,5.0,0.751412,0
4,2023-2026215,0.0,0.0,0.0,0.0,8.0,8.0,0.0,0.000058,19.0,15.0,4.0,3.212350,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79396,2024-2976009,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.045683,0.0,0.0,0.0,0.000000,0
79397,2024-2976010,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.059190,0.0,0.0,0.0,0.000000,0
79398,2024-2976011,0.0,0.0,0.0,0.0,74.0,74.0,0.0,0.089086,0.0,0.0,0.0,0.000000,0
79399,2024-2976012,0.0,0.0,0.0,0.0,82.0,82.0,0.0,4.293958,0.0,0.0,0.0,0.000000,0
79400,2024-2976013,0.0,0.0,0.0,0.0,72.0,72.0,0.0,0.054491,0.0,0.0,0.0,0.000000,0

In [9]:
# Verificando a quantidade de falhas e não falhas
resultado_df['FALHA'].value_counts()

FALHA
0    74372
1     5029
Name: count, dtype: int64

In [10]:
# Normalizando os dados 
colunas_numericas = resultado_df.columns.difference(['KNR', 'FALHA'])

resultado_normalizado = resultado_df.copy()

resultado_normalizado[colunas_numericas] = (resultado_df[colunas_numericas] - resultado_df[colunas_numericas].min()) / (resultado_df[colunas_numericas].max() - resultado_df[colunas_numericas].min())

resultado_normalizado = resultado_normalizado.fillna(0)
resultado_normalizado

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA,FALHA
0,2023-2016173,0.0,0.0,0.0,0.0,0.005215,0.005517,0.0,1.389356e-06,0.009205,0.026882,0.00099,0.002666,0
1,2023-2026098,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,6.946779e-08,0.012552,0.034946,0.00198,0.001670,1
2,2023-2026162,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,3.473390e-07,0.009205,0.029570,0.00000,0.000586,0
3,2023-2026175,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,4.168068e-07,0.015900,0.037634,0.00495,0.009376,0
4,2023-2026215,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,3.473390e-07,0.015900,0.040323,0.00396,0.040083,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79396,2024-2976009,0.0,0.0,0.0,0.0,0.031291,0.033103,0.0,2.741894e-04,0.000000,0.000000,0.00000,0.000000,0
79397,2024-2976010,0.0,0.0,0.0,0.0,0.031291,0.033103,0.0,3.552583e-04,0.000000,0.000000,0.00000,0.000000,0
79398,2024-2976011,0.0,0.0,0.0,0.0,0.032160,0.034023,0.0,5.346936e-04,0.000000,0.000000,0.00000,0.000000,0
79399,2024-2976012,0.0,0.0,0.0,0.0,0.035637,0.037701,0.0,2.577241e-02,0.000000,0.000000,0.00000,0.000000,0
79400,2024-2976013,0.0,0.0,0.0,0.0,0.031291,0.033103,0.0,3.270544e-04,0.000000,0.000000,0.00000,0.000000,0

In [11]:
# Preenchendo os valores nulos com 0 no dataframe final pela última vez
resultado_normalizado.fillna(0)

,KNR,ID1NAME,ID1SOK,ID1SNOK,ID1DATA,ID2NAME,ID2SOK,ID2SNOK,ID2DATA,ID718NAME,ID718SOK,ID718SNOK,ID718DATA,FALHA
0,2023-2016173,0.0,0.0,0.0,0.0,0.005215,0.005517,0.0,1.389356e-06,0.009205,0.026882,0.00099,0.002666,0
1,2023-2026098,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,6.946779e-08,0.012552,0.034946,0.00198,0.001670,1
2,2023-2026162,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,3.473390e-07,0.009205,0.029570,0.00000,0.000586,0
3,2023-2026175,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,4.168068e-07,0.015900,0.037634,0.00495,0.009376,0
4,2023-2026215,0.0,0.0,0.0,0.0,0.003477,0.003678,0.0,3.473390e-07,0.015900,0.040323,0.00396,0.040083,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79396,2024-2976009,0.0,0.0,0.0,0.0,0.031291,0.033103,0.0,2.741894e-04,0.000000,0.000000,0.00000,0.000000,0
79397,2024-2976010,0.0,0.0,0.0,0.0,0.031291,0.033103,0.0,3.552583e-04,0.000000,0.000000,0.00000,0.000000,0
79398,2024-2976011,0.0,0.0,0.0,0.0,0.032160,0.034023,0.0,5.346936e-04,0.000000,0.000000,0.00000,0.000000,0
79399,2024-2976012,0.0,0.0,0.0,0.0,0.035637,0.037701,0.0,2.577241e-02,0.000000,0.000000,0.00000,0.000000,0
79400,2024-2976013,0.0,0.0,0.0,0.0,0.031291,0.033103,0.0,3.270544e-04,0.000000,0.000000,0.00000,0.000000,0

In [12]:
# Visualizando os dados da coluna "FALHA" do dataframe final
resultado_normalizado['FALHA'].unique()

array([0, 1])

In [13]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\guilherme\appdata\local\programs\python\python312\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\guilherme\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\guilherme\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\guilherme\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\guilherme\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)

## Modelo SVM

In [14]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

# Supondo que 'resultado_normalizado' já está normalizado e disponível
# Preparação dos dados
X = resultado_normalizado.drop(columns=['KNR', 'FALHA'])  # Features: todas as colunas exceto 'KNR' e 'FALHA'
y = resultado_normalizado['FALHA']  # Target: coluna 'FALHA'

# Divisão em conjunto de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Treinamento do modelo SVM
svm_model = SVC(kernel='rbf')  # Usando kernel RBF como exemplo
svm_model.fit(X_train, y_train)

# Predição no conjunto de teste
y_pred = svm_model.predict(X_test)

# Avaliação do modelo
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

cv_scores = cross_val_score(svm_model, X, y, cv=5)

print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(report)
print(f"Cross-validation scores: {cv_scores}")
print(f"Mean CV score: {cv_scores.mean()}")

c:\Users\Guilherme\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Guilherme\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Guilherme\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

Accuracy: 0.935351160740523
Classification Report:
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     22281
           1       0.00      0.00      0.00      1540

    accuracy                           0.94     23821
   macro avg       0.47      0.50      0.48     23821
weighted avg       0.87      0.94      0.90     23821

Cross-validation scores: [0.93665386 0.93671285 0.93664987 0.93664987 0.93664987]
Mean CV score: 0.9366632663241422

## Modelo Gradient Boosting

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, classification_report

# Supondo que 'resultado_normalizado' já está normalizado e disponível
# Preparação dos dados
X = resultado_normalizado.drop(columns=['KNR', 'FALHA'])  # Features: todas as colunas exceto 'KNR' e 'FALHA'
y = resultado_normalizado['FALHA']  # Target: coluna 'FALHA'

# Divisão em conjunto de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Criação e treinamento do modelo Gradient Boosting
gb_model = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
gb_model.fit(X_train, y_train)

# Predição no conjunto de teste
y_pred = gb_model.predict(X_test)

# Avaliação do modelo
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(report)

Accuracy: 0.9352252214432644
Classification Report:
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     22281
           1       0.33      0.00      0.00      1540

    accuracy                           0.94     23821
   macro avg       0.63      0.50      0.49     23821
weighted avg       0.90      0.94      0.90     23821

## Modelo Random Forest

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler

# Selecionar features e target
X = resultado_normalizado.drop(columns=['KNR', 'FALHA'])
y = resultado_normalizado['FALHA']

# Normalizar os dados
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Dividir em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Treinar o modelo de Random Forest
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Fazer previsões e avaliar o modelo
y_pred = model.predict(X_test)

# Avaliar a acurácia
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')

# Matriz de confusão e relatório de classificação
print('Confusion Matrix:')
print(confusion_matrix(y_test, y_pred))

print('Classification Report:')
print(classification_report(y_test, y_pred))

Accuracy: 93.36%
Confusion Matrix:
[[14817    37]
 [ 1018     9]]
Classification Report:
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     14854
           1       0.20      0.01      0.02      1027

    accuracy                           0.93     15881
   macro avg       0.57      0.50      0.49     15881
weighted avg       0.89      0.93      0.90     15881

## Modelo Rede Neural Recorrente

In [28]:
import torch
import torch.nn as nn
import torch.optim as optim
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Selecionar features e target
X = resultado_normalizado.drop(columns=['KNR', 'FALHA'])
y = resultado_normalizado['FALHA']

# Normalizar os dados
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Dividir em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Converter para tensores
X_train = torch.tensor(X_train, dtype=torch.float32)
X_test = torch.tensor(X_test, dtype=torch.float32)
y_train = torch.tensor(y_train.values, dtype=torch.float32)
y_test = torch.tensor(y_test.values, dtype=torch.float32)

# Reshape necessário para o formato (batch_size, seq_len, num_features)
X_train = X_train.unsqueeze(1)
X_test = X_test.unsqueeze(1)

# Definir a RNN
class SimpleRNN(nn.Module):
    def __init__(self, input_size, hidden_size, output_size):
        super(SimpleRNN, self).__init__()
        self.rnn = nn.RNN(input_size, hidden_size, batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)
    
    def forward(self, x):
        out, _ = self.rnn(x)
        out = self.fc(out[:, -1, :])
        return out

# Parâmetros do modelo
input_size = X_train.shape[2]
hidden_size = 64
output_size = 1  # Saída única, porque 'FALHA' é uma variável de saída binária

# Instanciar o modelo
model = SimpleRNN(input_size, hidden_size, output_size)

# Definir a função de perda e o otimizador
criterion = nn.BCEWithLogitsLoss()  # Função de perda para classificação binária
optimizer = optim.Adam(model.parameters(), lr=0.001)

# Treinar o modelo
num_epochs = 200
for epoch in range(num_epochs):
    model.train()
    optimizer.zero_grad()
    
    outputs = model(X_train)
    loss = criterion(outputs.squeeze(), y_train)
    
    loss.backward()
    optimizer.step()
    
    print(f'Epoch {epoch+1}/{num_epochs}, Loss: {loss.item()}')

# Avaliar o modelo
model.eval()
with torch.no_grad():
    outputs = model(X_test)
    predicted = (torch.sigmoid(outputs.squeeze()) > 0.5).float()
    accuracy = (predicted == y_test).float().mean()
    print(f'Accuracy: {accuracy.item() * 100:.2f}%')

Epoch 1/200, Loss: 0.6895076036453247
Epoch 2/200, Loss: 0.6833685040473938
Epoch 3/200, Loss: 0.6773750185966492
Epoch 4/200, Loss: 0.6715142130851746
Epoch 5/200, Loss: 0.665771484375
Epoch 6/200, Loss: 0.660129964351654
Epoch 7/200, Loss: 0.6545735001564026
Epoch 8/200, Loss: 0.6490879058837891
Epoch 9/200, Loss: 0.6436624526977539
Epoch 10/200, Loss: 0.6382890939712524
Epoch 11/200, Loss: 0.6329616904258728
Epoch 12/200, Loss: 0.6276757121086121
Epoch 13/200, Loss: 0.6224273443222046
Epoch 14/200, Loss: 0.6172134876251221
Epoch 15/200, Loss: 0.6120312213897705
Epoch 16/200, Loss: 0.6068781018257141
Epoch 17/200, Loss: 0.6017521023750305
Epoch 18/200, Loss: 0.5966511368751526
Epoch 19/200, Loss: 0.5915735960006714
Epoch 20/200, Loss: 0.5865175127983093
Epoch 21/200, Loss: 0.5814814567565918
Epoch 22/200, Loss: 0.5764636993408203
Epoch 23/200, Loss: 0.5714622139930725
Epoch 24/200, Loss: 0.5664753913879395
Epoch 25/200, Loss: 0.5615010857582092
Epoch 26/200, Loss: 0.5565373301506042
Epoch 27/200, Loss: 0.5515819787979126
Epoch 28/200, Loss: 0.5466330647468567
Epoch 29/200, Loss: 0.5416886210441589
Epoch 30/200, Loss: 0.5367470383644104
Epoch 31/200, Loss: 0.531807005405426
Epoch 32/200, Loss: 0.5268673896789551
Epoch 33/200, Loss: 0.5219275951385498
Epoch 34/200, Loss: 0.5169872641563416
Epoch 35/200, Loss: 0.5120465755462646
Epoch 36/200, Loss: 0.5071057677268982
Epoch 37/200, Loss: 0.5021656155586243
Epoch 38/200, Loss: 0.49722662568092346
Epoch 39/200, Loss: 0.4922899305820465
Epoch 40/200, Loss: 0.4873564541339874
Epoch 41/200, Loss: 0.4824274778366089
Epoch 42/200, Loss: 0.4775041937828064
Epoch 43/200, Loss: 0.4725881814956665
Epoch 44/200, Loss: 0.4676808714866638
Epoch 45/200, Loss: 0.4627843201160431
Epoch 46/200, Loss: 0.45790043473243713
Epoch 47/200, Loss: 0.453031450510025
Epoch 48/200, Loss: 0.44817978143692017
Epoch 49/200, Loss: 0.44334787130355835
Epoch 50/200, Loss: 0.43853816390037537
Epoch 51/200, Loss: 0.4337530732154846
Epoch 52/200, Loss: 0.4289950728416443
Epoch 53/200, Loss: 0.42426660656929016
Epoch 54/200, Loss: 0.4195699989795685
Epoch 55/200, Loss: 0.4149075746536255
Epoch 56/200, Loss: 0.41028162837028503
Epoch 57/200, Loss: 0.4056946933269501
Epoch 58/200, Loss: 0.4011490046977997
Epoch 59/200, Loss: 0.39664703607559204
Epoch 60/200, Loss: 0.3921910524368286
Epoch 61/200, Loss: 0.38778337836265564
Epoch 62/200, Loss: 0.3834262788295746
Epoch 63/200, Loss: 0.37912172079086304
Epoch 64/200, Loss: 0.3748719096183777
Epoch 65/200, Loss: 0.3706788420677185
Epoch 66/200, Loss: 0.3665445148944855
Epoch 67/200, Loss: 0.36247095465660095
Epoch 68/200, Loss: 0.35846003890037537
Epoch 69/200, Loss: 0.3545134961605072
Epoch 70/200, Loss: 0.3506331145763397
Epoch 71/200, Loss: 0.3468203544616699
Epoch 72/200, Loss: 0.3430766761302948
Epoch 73/200, Loss: 0.339403361082077
Epoch 74/200, Loss: 0.3358016014099121
Epoch 75/200, Loss: 0.3322724401950836
Epoch 76/200, Loss: 0.3288169205188751
Epoch 77/200, Loss: 0.3254357576370239
Epoch 78/200, Loss: 0.32212984561920166
Epoch 79/200, Loss: 0.31889963150024414
Epoch 80/200, Loss: 0.31574559211730957
Epoch 81/200, Loss: 0.312668114900589
Epoch 82/200, Loss: 0.3096674084663391
Epoch 83/200, Loss: 0.3067435622215271
Epoch 84/200, Loss: 0.3038966953754425
Epoch 85/200, Loss: 0.3011265993118286
Epoch 86/200, Loss: 0.29843318462371826
Epoch 87/200, Loss: 0.2958161532878876
Epoch 88/200, Loss: 0.29327496886253357
Epoch 89/200, Loss: 0.2908092439174652
Epoch 90/200, Loss: 0.2884182929992676
Epoch 91/200, Loss: 0.28610149025917053
Epoch 92/200, Loss: 0.2838580012321472
Epoch 93/200, Loss: 0.28168705105781555
Epoch 94/200, Loss: 0.27958765625953674
Epoch 95/200, Loss: 0.27755874395370483
Epoch 96/200, Loss: 0.27559930086135864
Epoch 97/200, Loss: 0.27370813488960266
Epoch 98/200, Loss: 0.2718840539455414
Epoch 99/200, Loss: 0.27012574672698975
Epoch 100/200, Loss: 0.2684318721294403
Epoch 101/200, Loss: 0.266801118850708
Epoch 102/200, Loss: 0.26523202657699585
Epoch 103/200, Loss: 0.263723224401474
Epoch 104/200, Loss: 0.2622731924057007
Epoch 105/200, Loss: 0.2608804404735565
Epoch 106/200, Loss: 0.25954341888427734
Epoch 107/200, Loss: 0.2582606077194214
Epoch 108/200, Loss: 0.2570304572582245
Epoch 109/200, Loss: 0.25585150718688965
Epoch 110/200, Loss: 0.25472211837768555
Epoch 111/200, Loss: 0.2536407709121704
Epoch 112/200, Loss: 0.2526059150695801
Epoch 113/200, Loss: 0.2516160309314728
Epoch 114/200, Loss: 0.25066956877708435
Epoch 115/200, Loss: 0.24976511299610138
Epoch 116/200, Loss: 0.2489011138677597
Epoch 117/200, Loss: 0.24807614088058472
Epoch 118/200, Loss: 0.2472887486219406
Epoch 119/200, Loss: 0.24653750658035278
Epoch 120/200, Loss: 0.24582107365131378
Epoch 121/200, Loss: 0.2451380342245102
Epoch 122/200, Loss: 0.24448709189891815
Epoch 123/200, Loss: 0.24386699497699738
Epoch 124/200, Loss: 0.2432764321565628
Epoch 125/200, Loss: 0.24271424114704132
Epoch 126/200, Loss: 0.24217921495437622
Epoch 127/200, Loss: 0.24167022109031677
Epoch 128/200, Loss: 0.24118612706661224
Epoch 129/200, Loss: 0.24072585999965668
Epoch 130/200, Loss: 0.24028842151165009
Epoch 131/200, Loss: 0.2398727387189865
Epoch 132/200, Loss: 0.23947790265083313
Epoch 133/200, Loss: 0.23910292983055115
Epoch 134/200, Loss: 0.23874695599079132
Epoch 135/200, Loss: 0.23840907216072083
Epoch 136/200, Loss: 0.2380884885787964
Epoch 137/200, Loss: 0.23778435587882996
Epoch 138/200, Loss: 0.23749594390392303
Epoch 139/200, Loss: 0.23722246289253235
Epoch 140/200, Loss: 0.23696322739124298
Epoch 141/200, Loss: 0.23671752214431763
Epoch 142/200, Loss: 0.23648469150066376
Epoch 143/200, Loss: 0.23626413941383362
Epoch 144/200, Loss: 0.23605521023273468
Epoch 145/200, Loss: 0.23585732281208038
Epoch 146/200, Loss: 0.23566995561122894
Epoch 147/200, Loss: 0.2354925125837326
Epoch 148/200, Loss: 0.23532450199127197
Epoch 149/200, Loss: 0.2351655215024948
Epoch 150/200, Loss: 0.23501498997211456
Epoch 151/200, Loss: 0.234872505068779
Epoch 152/200, Loss: 0.23473770916461945
Epoch 153/200, Loss: 0.23461012542247772
Epoch 154/200, Loss: 0.23448941111564636
Epoch 155/200, Loss: 0.23437513411045074
Epoch 156/200, Loss: 0.23426704108715057
Epoch 157/200, Loss: 0.2341647446155548
Epoch 158/200, Loss: 0.23406793177127838
Epoch 159/200, Loss: 0.23397628962993622
Epoch 160/200, Loss: 0.23388957977294922
Epoch 161/200, Loss: 0.2338075041770935
Epoch 162/200, Loss: 0.2337297797203064
Epoch 163/200, Loss: 0.23365622758865356
Epoch 164/200, Loss: 0.23358654975891113
Epoch 165/200, Loss: 0.2335205376148224
Epoch 166/200, Loss: 0.2334579974412918
Epoch 167/200, Loss: 0.23339872062206268
Epoch 168/200, Loss: 0.2333425134420395
Epoch 169/200, Loss: 0.2332892268896103
Epoch 170/200, Loss: 0.23323866724967957
Epoch 171/200, Loss: 0.23319067060947418
Epoch 172/200, Loss: 0.2331451028585434
Epoch 173/200, Loss: 0.23310181498527527
Epoch 174/200, Loss: 0.23306067287921906
Epoch 175/200, Loss: 0.2330215573310852
Epoch 176/200, Loss: 0.23298431932926178
Epoch 177/200, Loss: 0.23294886946678162
Epoch 178/200, Loss: 0.23291510343551636
Epoch 179/200, Loss: 0.23288291692733765
Epoch 180/200, Loss: 0.23285219073295593
Epoch 181/200, Loss: 0.23282289505004883
Epoch 182/200, Loss: 0.2327948659658432
Epoch 183/200, Loss: 0.23276808857917786
Epoch 184/200, Loss: 0.23274245858192444
Epoch 185/200, Loss: 0.23271794617176056
Epoch 186/200, Loss: 0.23269443213939667
Epoch 187/200, Loss: 0.232671856880188
Epoch 188/200, Loss: 0.23265020549297333
Epoch 189/200, Loss: 0.23262938857078552
Epoch 190/200, Loss: 0.23260939121246338
Epoch 191/200, Loss: 0.23259012401103973
Epoch 192/200, Loss: 0.2325715571641922
Epoch 193/200, Loss: 0.232553631067276
Epoch 194/200, Loss: 0.23253634572029114
Epoch 195/200, Loss: 0.23251962661743164
Epoch 196/200, Loss: 0.2325034737586975
Epoch 197/200, Loss: 0.23248782753944397
Epoch 198/200, Loss: 0.23247264325618744
Epoch 199/200, Loss: 0.2324579358100891
Epoch 200/200, Loss: 0.2324436753988266
Accuracy: 93.53%

In [29]:
from 


# Selecionar os dados correspondentes ao KNR especificado
knr = "2023-2026175"
knr_data = resultado_normalizado[resultado_normalizado['KNR'] == knr]

if knr_data.empty:
    print(f'KNR {knr} não encontrado no dataset.')
else:
    # Preparar os dados
    knr_features = knr_data.drop(columns=['KNR', 'FALHA'])

    # Normalizar os dados usando o scaler ajustado previamente
    knr_features = scaler.transform(knr_features)

    # Converter para tensor
    knr_features = torch.tensor(knr_features, dtype=torch.float32)

    # Reshape necessário para o formato (batch_size, seq_len, num_features)
    knr_features = knr_features.unsqueeze(1)

    # Utilizar o modelo para realizar a predição
    model.eval()
    with torch.no_grad():
        output = model(knr_features)
        predicted = torch.sigmoid(output.squeeze()).item()
        prediction = "FALHA" if predicted > 0.5 else "NÃO FALHA"
        
    print(f'O KNR {knr} tem uma predição de: {prediction} (probabilidade: {predicted:.4f})')

O KNR 2023-2026175 tem uma predição de: NÃO FALHA (probabilidade: 0.0753)