# 1. Exploração e limpeza das bases de dados

In [50]:
# importacao das dependencias
import pandas as pd
import numpy as np

## Base de dados Falhas

In [51]:
# Leitura da base de daddos falhas
df_falhas = pd.read_csv('FALHAS.csv')
df_falhas

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
0,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta dianteira Folga (Ajuste),09-01-2023 22:24:44
1,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta traseira Folga (Ajuste),09-01-2023 22:25:02
2,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Lanterna tras (09) Interfere,10-01-2023 09:18:25
3,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Emblema / logo - Adesivos em geral Solto(a) ¨,10-01-2023 09:18:40
4,2023-4130664,AUDI Q3,6Y6Y,DSN,PCEQS805,7000240,ZP82,Painel instrumentos Ruído (-),10-01-2023 11:17:56
...,...,...,...,...,...,...,...,...,...
992715,2024-2556363,T-CROSS,6UA1,CWL,SMT2,FHQWRAP,ZP8,FAROL (09) PEÇA INCORRETA ¨,25-06-2024 13:09:25
992716,2024-2556363,T-CROSS,6UA1,CWL,SMT2,FHQWRAP,ZP8,SMART INSPECTION PEÇA NOK,25-06-2024 13:09:25
992717,2024-2546444,T-CROSS,2R2R,DHS,SMT2,FHQWRAP,ZP8,SMART INSPECTION PEÇA NOK,25-06-2024 13:10:35
992718,2024-2546444,T-CROSS,2R2R,DHS,SMT2,FHQWRAP,ZP8,FAROL DE NEBLINA (09) PEÇA INCORRETA ¨,25-06-2024 13:10:35
992719,2024-2546444,T-CROSS,2R2R,DHS,SMT2,FHQWRAP,ZP8,FAROL (09) PEÇA INCORRETA ¨,25-06-2024 13:10:35

In [52]:
# Visualizacao da forma da base de dados para saber com que estamos lidando
df_falhas.shape

(992720, 9)

In [53]:
# Para saber que os dados que estao dispostos para trabalharmos
df_falhas.columns

Index(['KNR', 'MODELO', 'COR', 'MOTOR', 'ESTACAO', 'USUARIO', 'HALLE', 'FALHA',
       'DATA'],
      dtype='object')

In [54]:
# Saber os tipos de cada coluna para ter nocao do que vamos lidar 
df_falhas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992720 entries, 0 to 992719
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   KNR      992720 non-null  object
 1   MODELO   992720 non-null  object
 2   COR      992720 non-null  object
 3   MOTOR    992720 non-null  object
 4   ESTACAO  992707 non-null  object
 5   USUARIO  992707 non-null  object
 6   HALLE    990868 non-null  object
 7   FALHA    992710 non-null  object
 8   DATA     992720 non-null  object
dtypes: object(9)
memory usage: 68.2+ MB

In [55]:
# Ter informacoes de quais dados sao nulos e sua quantidade para saber quatos irao ser descartados
df_falhas.isna().sum()

KNR           0
MODELO        0
COR           0
MOTOR         0
ESTACAO      13
USUARIO      13
HALLE      1852
FALHA        10
DATA          0
dtype: int64

In [56]:
# visualizar quais modelos estao dispostos na base de dados 
df_falhas['MODELO'].value_counts()

MODELO
T-CROSS       986064
T-CROSS PA      3439
AUDI Q3         3217
Name: count, dtype: int64

In [57]:
# Limpar a base de dados para excluir todos os campos que estao vazios
df_falhas_limpa = df_falhas.dropna()
# df_falhas_limpa.shape()
df_falhas_limpa.shape

(990858, 9)

Com a remoção dos dados vazios houve foi deletado 1862 dados da tabela

In [58]:
# Ter mais informacoes sobre como os dados estao organizados em seus tipos
df_falhas_limpa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 990858 entries, 0 to 992719
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   KNR      990858 non-null  object
 1   MODELO   990858 non-null  object
 2   COR      990858 non-null  object
 3   MOTOR    990858 non-null  object
 4   ESTACAO  990858 non-null  object
 5   USUARIO  990858 non-null  object
 6   HALLE    990858 non-null  object
 7   FALHA    990858 non-null  object
 8   DATA     990858 non-null  object
dtypes: object(9)
memory usage: 75.6+ MB

In [59]:
# Pegar somente os dados do tipo T-Cross, pois sera o foco da analise
df_falhas_limpa = df_falhas_limpa[df_falhas_limpa['MODELO'] == 'T-CROSS']
df_falhas_limpa['MODELO'].unique()

array(['T-CROSS'], dtype=object)

In [60]:
# Visualizar quantos tipos de falhas diferentes há na base de dados
total_falhas= df_falhas_limpa['FALHA'].unique()
len(total_falhas)

7196

In [61]:
# visualizar qual tipo de falha é a mais comum 
df_falhas_limpa['FALHA'].value_counts()

FALHA
Painel lateral Sujeira na pintura                              30645
Painel lateral 04. Caroço / Pico                               27467
PAINEL LATERAL 05. SUJEIRA NA PINTURA                          20483
Painel lateral 01. Amassado                                    15979
Painel lateral 05. Sujeira na pintura                          15126
                                                               ...
Teclas do volante Função NOK                                       1
TECLAS DO VOLANTE FUNÇÃO NOK                                       1
Chapa defletora de calor Montagem NOK                              1
Buzina do alarme & Peça NOK                                        1
CABO VÍDEO CÂMERA DE RÉ (56/5F)(6C) CONECTOR DANIFICADO (&)        1
Name: count, Length: 7196, dtype: int64

## Base de dados Status

In [105]:
df_status = pd.read_excel('STATUS_PREDICTOR_ANO.xlsx')
df_status

c:\Users\Inteli\Documents\GitHub\2024-2A-T08-EC07-G02\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

         Unnamed: 0    Unnamed: 1 Unnamed: 2           Unnamed: 3
0               NaN           KNR     STATUS                 DATA
1               NaN  2023-2016173       G620  2023-06-06 07:50:27
2               NaN  2023-2016173       M620  2023-06-06 07:50:27
3               NaN  2023-2026032       G620  2023-06-20 17:35:51
4               NaN  2023-2026032       M620  2023-06-20 17:35:51
...             ...           ...        ...                  ...
1048569         NaN  2023-4026001       G800  2023-10-05 06:18:10
1048570         NaN  2023-4026002       A600  2023-09-28 14:32:41
1048571         NaN  2023-4026002       R100  2023-09-28 14:32:42
1048572         NaN  2023-4026002       R120  2023-09-29 00:09:03
1048573         NaN  2023-4026002       R480  2023-09-29 07:02:34

[1048574 rows x 4 columns]

In [110]:

df_status = pd.read_csv('STATUS_PREDICTOR_ANO.csv')
# df_status = df_status.drop(df_status.columns[0], axis=1)
# df_status = df_status.drop(1, axis=0)
# df_status = df_status.dropna(axis=1, how='all')
df_status.columns

Index(['KNR', 'STATUS', 'DATA'], dtype='object')

In [111]:
df_status

              KNR STATUS                 DATA
NaN  2023-2016173   G620  2023-06-06 07:50:27
NaN  2023-2016173   M620  2023-06-06 07:50:27
NaN  2023-2026032   G620  2023-06-20 17:35:51
NaN  2023-2026032   M620  2023-06-20 17:35:51
NaN  2023-2026085   G620  2023-06-22 20:22:36
..            ...    ...                  ...
NaN  2023-4026001   G800  2023-10-05 06:18:10
NaN  2023-4026002   A600  2023-09-28 14:32:41
NaN  2023-4026002   R100  2023-09-28 14:32:42
NaN  2023-4026002   R120  2023-09-29 00:09:03
NaN  2023-4026002   R480  2023-09-29 07:02:34

[1048573 rows x 3 columns]

## Base de dados Resultados

In [63]:

# df_resultados = pd.read_csv('RESULTS_MERGED.csv')
# df_resultados