# 1. Exploração e limpeza das bases de dados

In [407]:
# importacao das dependencias
import pandas as pd
import numpy as np

## Base de dados Falhas

In [408]:
# Leitura da base de daddos falhas
df_falhas = pd.read_csv('FALHAS.csv')
df_falhas

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
0,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta dianteira Folga (Ajuste),09-01-2023 22:24:44
1,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta traseira Folga (Ajuste),09-01-2023 22:25:02
2,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Lanterna tras (09) Interfere,10-01-2023 09:18:25
3,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Emblema / logo - Adesivos em geral Solto(a) ¨,10-01-2023 09:18:40
4,2023-4130664,AUDI Q3,6Y6Y,DSN,PCEQS805,7000240,ZP82,Painel instrumentos Ruído (-),10-01-2023 11:17:56
...,...,...,...,...,...,...,...,...,...
992715,2024-2556363,T-CROSS,6UA1,CWL,SMT2,FHQWRAP,ZP8,FAROL (09) PEÇA INCORRETA ¨,25-06-2024 13:09:25
992716,2024-2556363,T-CROSS,6UA1,CWL,SMT2,FHQWRAP,ZP8,SMART INSPECTION PEÇA NOK,25-06-2024 13:09:25
992717,2024-2546444,T-CROSS,2R2R,DHS,SMT2,FHQWRAP,ZP8,SMART INSPECTION PEÇA NOK,25-06-2024 13:10:35
992718,2024-2546444,T-CROSS,2R2R,DHS,SMT2,FHQWRAP,ZP8,FAROL DE NEBLINA (09) PEÇA INCORRETA ¨,25-06-2024 13:10:35
992719,2024-2546444,T-CROSS,2R2R,DHS,SMT2,FHQWRAP,ZP8,FAROL (09) PEÇA INCORRETA ¨,25-06-2024 13:10:35

In [409]:
# Visualizacao da forma da base de dados para saber com que estamos lidando
df_falhas.shape

(992720, 9)

In [410]:
# Para saber que os dados que estao dispostos para trabalharmos
df_falhas.columns

Index(['KNR', 'MODELO', 'COR', 'MOTOR', 'ESTACAO', 'USUARIO', 'HALLE', 'FALHA',
       'DATA'],
      dtype='object')

In [411]:
# Saber os tipos de cada coluna para ter nocao do que vamos lidar 
df_falhas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992720 entries, 0 to 992719
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   KNR      992720 non-null  object
 1   MODELO   992720 non-null  object
 2   COR      992720 non-null  object
 3   MOTOR    992720 non-null  object
 4   ESTACAO  992707 non-null  object
 5   USUARIO  992707 non-null  object
 6   HALLE    990868 non-null  object
 7   FALHA    992710 non-null  object
 8   DATA     992720 non-null  object
dtypes: object(9)
memory usage: 68.2+ MB

In [412]:
# Ter informacoes de quais dados sao nulos e sua quantidade para saber quatos irao ser descartados
df_falhas.isna().sum()

KNR           0
MODELO        0
COR           0
MOTOR         0
ESTACAO      13
USUARIO      13
HALLE      1852
FALHA        10
DATA          0
dtype: int64

In [413]:
# visualizar quais modelos estao dispostos na base de dados 
df_falhas['MODELO'].value_counts()

MODELO
T-CROSS       986064
T-CROSS PA      3439
AUDI Q3         3217
Name: count, dtype: int64

In [414]:
# Limpar a base de dados para excluir todos os campos que estao vazios
df_falhas_limpa = df_falhas.dropna()
# df_falhas_limpa.shape()
df_falhas_limpa.shape

(990858, 9)

Com a remoção dos dados vazios houve foi deletado 1862 dados da tabela

In [415]:
# Ter mais informacoes sobre como os dados estao organizados em seus tipos
df_falhas_limpa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 990858 entries, 0 to 992719
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   KNR      990858 non-null  object
 1   MODELO   990858 non-null  object
 2   COR      990858 non-null  object
 3   MOTOR    990858 non-null  object
 4   ESTACAO  990858 non-null  object
 5   USUARIO  990858 non-null  object
 6   HALLE    990858 non-null  object
 7   FALHA    990858 non-null  object
 8   DATA     990858 non-null  object
dtypes: object(9)
memory usage: 75.6+ MB

In [416]:
# Pegar somente os dados do tipo T-Cross, pois sera o foco da analise
df_falhas_limpa = df_falhas_limpa[df_falhas_limpa['MODELO'] == 'T-CROSS']
df_falhas_limpa['MODELO'].unique()

array(['T-CROSS'], dtype=object)

In [417]:
# Visualizar quantos tipos de falhas diferentes há na base de dados
total_falhas = df_falhas_limpa['FALHA'].unique()
len(total_falhas)

7196

In [418]:
# Visualizar qual tipo de falha é a mais comum 
df_falhas_limpa['FALHA'].value_counts()

FALHA
Painel lateral Sujeira na pintura                              30645
Painel lateral 04. Caroço / Pico                               27467
PAINEL LATERAL 05. SUJEIRA NA PINTURA                          20483
Painel lateral 01. Amassado                                    15979
Painel lateral 05. Sujeira na pintura                          15126
                                                               ...
Teclas do volante Função NOK                                       1
TECLAS DO VOLANTE FUNÇÃO NOK                                       1
Chapa defletora de calor Montagem NOK                              1
Buzina do alarme & Peça NOK                                        1
CABO VÍDEO CÂMERA DE RÉ (56/5F)(6C) CONECTOR DANIFICADO (&)        1
Name: count, Length: 7196, dtype: int64

In [419]:
df_falhas_limpa = df_falhas_limpa.drop(['MODELO','DATA'], axis='columns')
df_falhas_limpa

,KNR,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA
0,2023-1326197,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta dianteira Folga (Ajuste)
1,2023-1326197,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta traseira Folga (Ajuste)
17,2023-0616455,0Q0Q,CWS,PCEQS100,4004672,ZP5,Painel lateral 04. Caroço / Pico
18,2023-0616455,0Q0Q,CWS,PCEQS100,4004672,ZP5,Painel lateral 01. Amassado
20,2023-0616455,0Q0Q,CWS,PCEQS102,4005127,ZP5,Painel lateral 01. Amassado
...,...,...,...,...,...,...,...
992715,2024-2556363,6UA1,CWL,SMT2,FHQWRAP,ZP8,FAROL (09) PEÇA INCORRETA ¨
992716,2024-2556363,6UA1,CWL,SMT2,FHQWRAP,ZP8,SMART INSPECTION PEÇA NOK
992717,2024-2546444,2R2R,DHS,SMT2,FHQWRAP,ZP8,SMART INSPECTION PEÇA NOK
992718,2024-2546444,2R2R,DHS,SMT2,FHQWRAP,ZP8,FAROL DE NEBLINA (09) PEÇA INCORRETA ¨
992719,2024-2546444,2R2R,DHS,SMT2,FHQWRAP,ZP8,FAROL (09) PEÇA INCORRETA ¨

In [420]:
df_falhas_limpa['FALHA'] = df_falhas_limpa['FALHA'].str.upper()
df_falhas_limpa

,KNR,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA
0,2023-1326197,0Q0Q,DHS,PCEQS100,2043521,ZP5,PORTA DIANTEIRA FOLGA (AJUSTE)
1,2023-1326197,0Q0Q,DHS,PCEQS100,2043521,ZP5,PORTA TRASEIRA FOLGA (AJUSTE)
17,2023-0616455,0Q0Q,CWS,PCEQS100,4004672,ZP5,PAINEL LATERAL 04. CAROÇO / PICO
18,2023-0616455,0Q0Q,CWS,PCEQS100,4004672,ZP5,PAINEL LATERAL 01. AMASSADO
20,2023-0616455,0Q0Q,CWS,PCEQS102,4005127,ZP5,PAINEL LATERAL 01. AMASSADO
...,...,...,...,...,...,...,...
992715,2024-2556363,6UA1,CWL,SMT2,FHQWRAP,ZP8,FAROL (09) PEÇA INCORRETA ¨
992716,2024-2556363,6UA1,CWL,SMT2,FHQWRAP,ZP8,SMART INSPECTION PEÇA NOK
992717,2024-2546444,2R2R,DHS,SMT2,FHQWRAP,ZP8,SMART INSPECTION PEÇA NOK
992718,2024-2546444,2R2R,DHS,SMT2,FHQWRAP,ZP8,FAROL DE NEBLINA (09) PEÇA INCORRETA ¨
992719,2024-2546444,2R2R,DHS,SMT2,FHQWRAP,ZP8,FAROL (09) PEÇA INCORRETA ¨

In [421]:
total_falhas = df_falhas_limpa['FALHA'].unique()
len(total_falhas)

4271

In [422]:
# Visualização de dados duplicados
df_falhas_limpa[df_falhas_limpa['KNR'] == '2024-0626325']

,KNR,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA
534973,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,PAINEL LATERAL RISCO
534974,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,PAINEL LATERAL RISCO
534981,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,PAINEL LATERAL MARCA DE POLIMENTO
534982,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,PAINEL LATERAL MARCA DE POLIMENTO
534999,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,TAMPA TRASEIRA FALTA TINTA
535000,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,TAMPA TRASEIRA FALTA TINTA
535005,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,TAMPA TRASEIRA 02. ONDULAÇÃO
535006,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,TAMPA TRASEIRA 02. ONDULAÇÃO
535009,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,TAMPA TRASEIRA 02. ONDULAÇÃO
535010,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,TAMPA TRASEIRA 02. ONDULAÇÃO
535017,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,PAINEL LATERAL SUJEIRA DE CERA
535018,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,PAINEL LATERAL SUJEIRA DE CERA

In [423]:
df_falhas_limpa[df_falhas_limpa['KNR'] == '2024-0626324']

,KNR,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA
542602,2024-0626324,2R2R,CWL,HCEQS655,2048515,ZP7,ILUMINAÇÃO CENTRAL INTERNA (09) AJUSTE INCORRETO
542603,2024-0626324,2R2R,CWL,HCEQS655,2048515,ZP7,ILUMINAÇÃO CENTRAL INTERNA (09) AJUSTE INCORRETO

In [424]:
# Elimina os dados repetidos

df_falhas_limpa = df_falhas_limpa.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df_falhas_limpa = df_falhas_limpa.astype(str)
df_falhas_limpa = df_falhas_limpa.drop_duplicates()

In [425]:
# df_falhas_limpa
df_falhas_limpa[df_falhas_limpa['KNR'] == '2024-0626325']

,KNR,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA
534973,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,PAINEL LATERAL RISCO
534981,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,PAINEL LATERAL MARCA DE POLIMENTO
534999,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,TAMPA TRASEIRA FALTA TINTA
535005,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,TAMPA TRASEIRA 02. ONDULAÇÃO
535017,2024-0626325,2RA1,CWL,HCEQS506,1984195,ZP7,PAINEL LATERAL SUJEIRA DE CERA

In [426]:
df_falhas_limpa[df_falhas_limpa['KNR'] == '2024-0626324']

,KNR,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA
542602,2024-0626324,2R2R,CWL,HCEQS655,2048515,ZP7,ILUMINAÇÃO CENTRAL INTERNA (09) AJUSTE INCORRETO

In [427]:
df_falhas_limpa.shape

(667676, 7)

## Base de dados Status

In [428]:
# df_status = pd.read_excel('STATUS_PREDICTOR_ANO.xlsx')
# df_status

In [429]:

df_status = pd.read_csv('STATUS_PREDICTOR_ANO.csv')
# df_status = df_status.drop(df_status.columns[0], axis=1)
# df_status = df_status.drop(1, axis=0)
# df_status = df_status.dropna(axis=1, how='all')
df_status.columns

Index(['KNR', 'STATUS', 'DATA'], dtype='object')

In [430]:
# df_status

## Base de dados Resultados

In [431]:
df_resultados = pd.read_csv('RESULTADOS_02_03_2024.csv')
df_resultados

,Unnamed: 0,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,1,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.479 ...,2024-02-02 08:03:03
1,2,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.617 ...,2024-02-02 07:37:59
2,3,2023-5076008,SECTION_ZP8_00000001,718,10,V,80.0,12.951 ...,2024-02-02 08:32:14
3,4,2023-5076015,SECTION_ZP8_00000001,718,13,V,80.0,12.223 ...,2024-02-07 14:05:16
4,5,2023-5076015,SECTION_ZP8_00000001,718,10,V,80.0,12.855 ...,2024-02-07 14:31:41
...,...,...,...,...,...,...,...,...,...
1048568,1048569,2024-0626325,324000,2,10,Grad,1.0,90.59 ...,2024-02-02 06:08:47
1048569,1048570,2024-0626325,324000,2,10,Grad,3.0,90.63 ...,2024-02-02 06:08:47
1048570,1048571,2024-0626325,324000,2,10,Nm,0.0,145.06 ...,2024-02-02 06:08:47
1048571,1048572,2024-0626325,324000,2,10,Nm,2.0,153.68 ...,2024-02-02 06:08:47
1048572,1048573,2024-0626325,324100,2,10,Grad,3.0,90.00 ...,2024-02-02 06:14:39

In [432]:
df_resultados_limpa = df_resultados.drop(['Unnamed: 0'], axis='columns')
df_resultados_limpa

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.479 ...,2024-02-02 08:03:03
1,2023-5076008,SECTION_ZP8_00000001,718,13,V,80.0,12.617 ...,2024-02-02 07:37:59
2,2023-5076008,SECTION_ZP8_00000001,718,10,V,80.0,12.951 ...,2024-02-02 08:32:14
3,2023-5076015,SECTION_ZP8_00000001,718,13,V,80.0,12.223 ...,2024-02-07 14:05:16
4,2023-5076015,SECTION_ZP8_00000001,718,10,V,80.0,12.855 ...,2024-02-07 14:31:41
...,...,...,...,...,...,...,...,...
1048568,2024-0626325,324000,2,10,Grad,1.0,90.59 ...,2024-02-02 06:08:47
1048569,2024-0626325,324000,2,10,Grad,3.0,90.63 ...,2024-02-02 06:08:47
1048570,2024-0626325,324000,2,10,Nm,0.0,145.06 ...,2024-02-02 06:08:47
1048571,2024-0626325,324000,2,10,Nm,2.0,153.68 ...,2024-02-02 06:08:47
1048572,2024-0626325,324100,2,10,Grad,3.0,90.00 ...,2024-02-02 06:14:39

In [433]:
df_resultados_limpa.groupby("KNR").count()

              NAME   ID  STATUS  UNIT  VALUE_ID  VALUE  DATA
KNR
2023-5076008     3    3       3     3         3      3     3
2023-5076015     2    2       2     2         2      2     2
2024-0516009    56   56      56    48        56     48    56
2024-0526019     1    1       1     1         1      1     1
2024-0526096    58   58      58    49        58     49    58
...            ...  ...     ...   ...       ...    ...   ...
2024-0626321   913  913     913   889       913    889   913
2024-0626322   917  917     917   893       917    893   917
2024-0626323   903  903     903   879       903    879   903
2024-0626324   903  903     903   879       903    879   903
2024-0626325   427  427     427   416       427    416   427

[1496 rows x 7 columns]

JOIN

In [434]:
resultado = pd.merge(df_falhas_limpa, df_resultados_limpa)
resultado

,KNR,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,012002,1,10,NaN,0.0,NaN,2024-02-01 06:05:49
1,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,012003,1,10,NaN,0.0,NaN,2024-02-01 06:05:45
2,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,012004,1,10,NaN,0.0,NaN,2024-02-01 06:04:29
3,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,018001,1,10,NaN,0.0,NaN,2024-02-01 00:19:58
4,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,042000,1,10,Deg,5.0,18090 ...,2024-02-01 06:10:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7084088,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000025,718,10,NaN,NaN,NaN,2024-02-14 08:55:26
7084089,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000030,718,10,kg,10003.0,247.8 ...,2024-02-14 08:55:26
7084090,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000030,718,10,NaN,NaN,NaN,2024-02-14 08:55:26
7084091,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000035,718,10,kg,10004.0,266.7 ...,2024-02-14 08:55:26
7084092,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000035,718,10,NaN,NaN,NaN,2024-02-14 08:55:26

In [435]:
inner_join = pd.merge(df_falhas_limpa, df_resultados_limpa, on='KNR', how='inner')
inner_join

,KNR,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,012002,1,10,NaN,0.0,NaN,2024-02-01 06:05:49
1,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,012003,1,10,NaN,0.0,NaN,2024-02-01 06:05:45
2,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,012004,1,10,NaN,0.0,NaN,2024-02-01 06:04:29
3,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,018001,1,10,NaN,0.0,NaN,2024-02-01 00:19:58
4,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,042000,1,10,Deg,5.0,18090 ...,2024-02-01 06:10:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7084088,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000025,718,10,NaN,NaN,NaN,2024-02-14 08:55:26
7084089,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000030,718,10,kg,10003.0,247.8 ...,2024-02-14 08:55:26
7084090,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000030,718,10,NaN,NaN,NaN,2024-02-14 08:55:26
7084091,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000035,718,10,kg,10004.0,266.7 ...,2024-02-14 08:55:26
7084092,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000035,718,10,NaN,NaN,NaN,2024-02-14 08:55:26

In [436]:
inner_join.dropna()
inner_join

,KNR,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
0,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,012002,1,10,NaN,0.0,NaN,2024-02-01 06:05:49
1,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,012003,1,10,NaN,0.0,NaN,2024-02-01 06:05:45
2,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,012004,1,10,NaN,0.0,NaN,2024-02-01 06:04:29
3,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,018001,1,10,NaN,0.0,NaN,2024-02-01 00:19:58
4,2024-0556114,2R2R,CWL,PCEQS111,4005106,ZP5,TETO SOLDA - CORDÃO NOK,042000,1,10,Deg,5.0,18090 ...,2024-02-01 06:10:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7084088,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000025,718,10,NaN,NaN,NaN,2024-02-14 08:55:26
7084089,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000030,718,10,kg,10003.0,247.8 ...,2024-02-14 08:55:26
7084090,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000030,718,10,NaN,NaN,NaN,2024-02-14 08:55:26
7084091,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000035,718,10,kg,10004.0,266.7 ...,2024-02-14 08:55:26
7084092,2024-0576018,2R2R,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,UPSECOS_ALS_00000035,718,10,NaN,NaN,NaN,2024-02-14 08:55:26