# 1. Exploração e limpeza das bases de dados

In [1]:
# importacao das dependencias
import pandas as pd
import numpy as np

## Base de dados Falhas

In [2]:

df_falhas = pd.read_csv('FALHAS.csv')
df_falhas

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
0,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta dianteira Folga (Ajuste),09-01-2023 22:24:44
1,2023-1326197,T-CROSS,0Q0Q,DHS,PCEQS100,2043521,ZP5,Porta traseira Folga (Ajuste),09-01-2023 22:25:02
2,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Lanterna tras (09) Interfere,10-01-2023 09:18:25
3,2023-4130482,AUDI Q3,2Y2Y,DSN,PCEQS999,2054701,ESPC,Emblema / logo - Adesivos em geral Solto(a) ¨,10-01-2023 09:18:40
4,2023-4130664,AUDI Q3,6Y6Y,DSN,PCEQS805,7000240,ZP82,Painel instrumentos Ruído (-),10-01-2023 11:17:56
...,...,...,...,...,...,...,...,...,...
992715,2024-2556363,T-CROSS,6UA1,CWL,SMT2,FHQWRAP,ZP8,FAROL (09) PEÇA INCORRETA ¨,25-06-2024 13:09:25
992716,2024-2556363,T-CROSS,6UA1,CWL,SMT2,FHQWRAP,ZP8,SMART INSPECTION PEÇA NOK,25-06-2024 13:09:25
992717,2024-2546444,T-CROSS,2R2R,DHS,SMT2,FHQWRAP,ZP8,SMART INSPECTION PEÇA NOK,25-06-2024 13:10:35
992718,2024-2546444,T-CROSS,2R2R,DHS,SMT2,FHQWRAP,ZP8,FAROL DE NEBLINA (09) PEÇA INCORRETA ¨,25-06-2024 13:10:35
992719,2024-2546444,T-CROSS,2R2R,DHS,SMT2,FHQWRAP,ZP8,FAROL (09) PEÇA INCORRETA ¨,25-06-2024 13:10:35

In [3]:
df_falhas.shape

(992720, 9)

In [4]:
df_falhas.columns

Index(['KNR', 'MODELO', 'COR', 'MOTOR', 'ESTACAO', 'USUARIO', 'HALLE', 'FALHA',
       'DATA'],
      dtype='object')

In [5]:
df_falhas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992720 entries, 0 to 992719
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   KNR      992720 non-null  object
 1   MODELO   992720 non-null  object
 2   COR      992720 non-null  object
 3   MOTOR    992720 non-null  object
 4   ESTACAO  992707 non-null  object
 5   USUARIO  992707 non-null  object
 6   HALLE    990868 non-null  object
 7   FALHA    992710 non-null  object
 8   DATA     992720 non-null  object
dtypes: object(9)
memory usage: 68.2+ MB

In [6]:
df_falhas.isna().sum()

KNR           0
MODELO        0
COR           0
MOTOR         0
ESTACAO      13
USUARIO      13
HALLE      1852
FALHA        10
DATA          0
dtype: int64

In [7]:
df_falhas['MODELO'].value_counts()

MODELO
T-CROSS       986064
T-CROSS PA      3439
AUDI Q3         3217
Name: count, dtype: int64

In [8]:
df_falhas_limpa = df_falhas.dropna()
# df_falhas_limpa.shape()
df_falhas_limpa.shape

(990858, 9)

Com a remoção dos dados vazios houve foi deletado 1862 dados da tabela

In [9]:
df_falhas_limpa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 990858 entries, 0 to 992719
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   KNR      990858 non-null  object
 1   MODELO   990858 non-null  object
 2   COR      990858 non-null  object
 3   MOTOR    990858 non-null  object
 4   ESTACAO  990858 non-null  object
 5   USUARIO  990858 non-null  object
 6   HALLE    990858 non-null  object
 7   FALHA    990858 non-null  object
 8   DATA     990858 non-null  object
dtypes: object(9)
memory usage: 75.6+ MB

In [10]:
df_falhas_limpa = df_falhas_limpa[df_falhas_limpa['MODELO'] == 'T-CROSS']
df_falhas_limpa['MODELO'].unique()

array(['T-CROSS'], dtype=object)

## Base de dados Status

In [ ]:

df_status = pd.read_csv('FALHAS.csv')
df_status

## Base de dados Resultados

In [ ]:

df_resultados = pd.read_csv('RESULTS_MERGED.csv')
df_resultados